In [1]:
import pyodbc
import pandas as pd

In [2]:
# Connection string
conn_str = (
    "Driver={SQL Server};"
    "Server=DESKTOP-848TND6;"
    "Database=AdventureWorks2022;"
    "Trusted_Connection=yes;"

)

# Create connection
conn = pyodbc.connect(conn_str)

In [3]:
query = """
select LoginID,
JobTitle,
BirthDate,
MaritalStatus
from HumanResources.Employee
where (Gender = 'F')
"""

# cursor = conn.cursor()
# # Execute query
# cursor.execute(query)
# rows = cursor.fetchall()

In [4]:
df = pd.read_sql_query(query, conn)

print(df.head())

                   LoginID                           JobTitle   BirthDate  \
0   adventure-works\terri0      Vice President of Engineering  1971-08-01
1    adventure-works\gail0                    Design Engineer  1952-09-27
2   adventure-works\diane1  Research and Development Engineer  1986-06-05
3    adventure-works\gigi0  Research and Development Engineer  1979-01-21
4  adventure-works\janice0                      Tool Designer  1989-05-28

  MaritalStatus
0             S
1             M
2             S
3             M
4             M

C:\Users\purce\AppData\Local\Temp\ipykernel_40048\3442072504.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [6]:
conn.close()

ProgrammingError: Attempt to use a closed connection.